.lead__title {
  margin: 0px auto;
  max-width: 288px;
  font-size: 40px;
  font-weight: bold;
  line-height: 44px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 6rem;
    line-height: 100px;
 }
}


