.lead__subtitle {
  margin: 0px auto;
  max-width: 288px;
  font-size: 16px;
  line-height: 20px;
  padding-top: 16px;
}

@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
 }
}

