.footer {
  padding: 64px 0px 24px 16px;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  background-color: #2A2C2F;
  margin: 0px auto;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer {
    max-width: 720px;
    flex-direction: row;
    align-items:center;
    padding: 88px 0px 24px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    max-width: 928px;
    padding-top: 92px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
    padding-left: 0;
  }
}
